div {
  border: 1px solid black;
  padding:2%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
    }
  
.square {
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  }
  
#top_header{
  width:90%;
  height:0;
  padding-bottom:25%;
  }
  
#countdown{
  width:20%;
  height:0;
  padding-bottom:20%;
  float:left;
  display:inline;
  }
#exercise_name{
  width:70%;
  height:0;
  padding-bottom:20%;
  float:right;
  display:inline;
  }
#exercise_graphic{
  width:90%;
  height:0;
  padding-bottom:60%;
  }
#bottom_frame{
  width:96%;
  height:0%;
  padding-bottom:20%;
  position:absolute;
  bottom:0;  
  left:0;
  }